@import url('variable.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS" !important;
}

.text {
    color: var(--color);
    text-align: center;
    margin: 10px 0;
    padding: 0;
}

.header {
    background-color: var(--background-color);
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
}

.body {
    background-color: var(--background-color);
    color: var(--color);
    text-align: justify;
    margin: 0;
    padding: 0;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: justify;
    margin: 0;
    padding: 10px;
}

.perfil_p {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    padding: 10px;
    margin: 0;
    overflow: visible;
}

.botao_tema {
    background-color: var(--bottom-bg-color);
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    font-size: 0.5em;
    margin-right: 5px;
    border: none;
    font-weight: bold;
}

.card_cabecalho{
    padding: 10px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    background-color: var(--card-color);
    width: auto;
    color: var(--color);
    box-shadow: 0 0 10px var(--card-color);
    border-radius: 10px;
}
.card{
    padding: 10px;
    margin: 20px;
    background-color: var(--card-color);
    width: 600px;
    box-shadow: 0 0 10px var(--card-color);
    border-radius: 10px;
}
.cards {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cabeçalho {
    font-size: 1.5em;
    font-weight: bold;
    text-indent: 20px;
    color: var(--color);
    background-color: var(--card-color);
    width: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.projetos, .habilidades , .experiencias, .formacao{
    display: flex; 
    flex-wrap: wrap; 
    gap: 40px; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    justify-content: center; 
    overflow: visible;
}
.contatos{
    display: flex; 
    flex-wrap: wrap; 
    gap: 2px; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    justify-content: center; 
    overflow: visible;
}

.projetos li, .habilidades li , .experiencias li, .contatos li,.formacao li{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    background-color: var(--card-color); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--card-color);
    color: var(--color); 
    font-size: 1rem;
    text-align: center; 
}

.projetos img, .habilidades img , .experiencias img{
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 20%; 
}


.contatos img{
    width: 50px; 
    height: 50px; 
    object-fit: cover; 
    border-radius: 10%; 
}
section {
    margin: 0; 
    padding: 0; 
}

